:root {
    --primary-color: black;
    --secondary-color: '#c0c2c3'
}
.cursor-pointer {
    cursor: pointer;
}
/* button styles */
.primary-btn {
    background-color: var(--primary-color);
    color: white;
    border: 0;
    padding: 0.7rem 2.5rem;
    border-radius: 10px;
}

.secondary-btn {
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 0.7rem 2.5rem;
    border-radius: 10px;
}
