/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #b0e6dc;
    --secondary-color: #c0c2c3;
}
.cursor-pointer {
    cursor: pointer;
}
/* button styles */
.primary-btn {
    background-color: black;
    color: white;
    border: 0;
    padding: 0.7rem 2.5rem;
    border-radius: 10px;
}

.secondary-btn {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 0.7rem 2.5rem;
    border-radius: 10px;
}
